<!-- <div class="bodyWrapper"></div> -->

<header>
    <mat-icon class="headerMenu">menu</mat-icon>
    <div class="headerText">
        <h2>EXPLORE</h2>
    </div>
    <mat-icon class="headerSearch">search</mat-icon>
</header>

<video #videoShow width="500" height="500"></video>
<div class="example-flex-container">
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>play_circle_outline</mat-icon>
    </button>
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>pause_circle_outline</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>mic_off</mat-icon>
    </button>
    <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>get_app</mat-icon>
    </button>
    <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>stop</mat-icon>
    </button>
</div>