<div class="homePage">
    <section class="descWrapper">
        <div class="description">
            <div class="headingOne">
                <h1>Record Screen &</h1>
                <h1>Convey More Efficiently</h1>
            </div>
            <div class="textHeading">
                <h6>Get technical Assistance More Easily By recording Issues and Bugs</h6>
            </div>
            <div class="buttonWrapper">
                <button routerLink="/record" mat-raised-button color="primary">Start Recording</button>
            </div>

        </div>
        <div class="graphic">
            <img src="/assets/images/home@2x.png">
        </div>
    </section>
</div>